
! Base16 Helios
! Scheme: Alex Meyer (https://github.com/reyemxela)

#define base00 #111111
#define base01 #303030
#define base02 #353535
#define base03 #4A4A4A
#define base04 #B2CCD6
#define base05 #FFFFFF
#define base06 #EEFFFF
#define base07 #FFFFFF
#define base08 #F07178
#define base09 #F78C6C
#define base0A #FDF200
#define base0B #13CA91
#define base0C #00FECA
#define base0D #7898FB
#define base0E #FF2079
#define base0F #FF5370
#define red #e02d37

#define background_opacity FF

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base05
#else
*background:   base00
#endif
*cursorColor:  base00

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07

! === polybar ===
*polybarBackground: #background
*polybarForeground: base00
*polybarKey: base00
*polybarValue: base00


! === rofi ===

rofi.modi:                           ssh,window,drun,run
rofi.sidebar-mode:                   false
rofi.terminal:                       urxvt
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e "{ssh-client} {host}"
rofi.opacity:                        10
rofi.width:                          800
rofi.lines:                          6
rofi.columns:                        1
rofi.font:                           Ubuntu Mono 16
rofi.fg:                             #5294E2
rofi.bg:                             #5d729f
rofi.fg-active:                      #34405a
rofi.fg-urgent:                      #34405a
rofi.hlfg-active:                    #5e73a0
rofi.hlfg-urgent:                    #5e73a0
rofi.bg-active:                      #34405a
rofi.bg-urgent:                      #34405a
rofi.hlbg-active:                    #5d729f
rofi.hlbg-urgent:                    #5d729f
rofi.bgalt:                          #5671a0
rofi.hlfg:                           #34405a
rofi.hlbg:                           #34405a
rofi.bc:                             #789ee1
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
! rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF

!                  'background', 'border'
! rofi.color-window: #353944,      #404552
rofi.bw:                             4
rofi.location:                       0
rofi.padding:                        0
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          true
rofi.line-margin:                    0
rofi.line-padding:                   12
rofi.separator-style:                none
rofi.hide-scrollbar:                 true
rofi.markup-rows:                    false
rofi.scrollbar-width: 8
rofi.fullscreen: false
rofi.show-icons: false

rofi.vars.color-bg: color0
rofi.vars.color-fg: color15
rofi.vars.color-bgalt: color15
rofi.vars.color-hlbg: color15
rofi.vars.color-hlfg: color4
rofi.vars.color-window-bg: color0
rofi.vars.color-window-border: color7